  <div class="title text-center">
    <img src="../../../assets/img/logo.png" alt="">
  </div>

  <div class="text-center mensaje">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="side_img" src="../../../assets/img/user.png" alt="">
      </div>
      <div class="col-sm-6">
        <div class="row form">
            <div class="col-sm-12 text-center title" style="margin-bottom: 5%">
                <h2>BIENVENIDO</h2>
            </div>
           
          <div class="col-sm-12">
            <label for="">Usuario</label>
            <input type="text" class="outlinenone" id="name" name="name" [(ngModel)]="nuevoUsuario.nick">
          </div>
          <div class="col-sm-12">
            <label for="">Contraseña</label>
            <input type="password" class="outlinenone" id="password" id="password" [(ngModel)]="nuevoUsuario.password">
          </div>
          <div class="col-sm-12" style="margin-top: 5%; text-align: center; padding-top: 10%;">
            <button type="submit" (click)="loguear()"class="btn_enviar">INGRESAR</button>
            <hr>
           <p>¿No tienes cuenta?,  <a [routerLink] = "['register']">REGISTRATE</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>